.section-registration {
  h2 {
    font-size: 3.2rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 2rem;
  }

  form {
    gap: 2rem;

    button {
      margin-top: 1rem;
      width: fit-content;
      padding-inline: 2rem;
    }
  }
}
