/*
  Sizing System
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 62.5% === 10px */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(250, 246, 246);
}

footer {
  position: static;
  bottom: 0;
  padding-inline: 3.6rem;
  padding-block: 2.4rem;

  .validator-container {
    display: flex;
    gap: 2.4rem;
  }
}

.main-content {
  flex: 1 1 0%;
  overflow-x: auto;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.container {
  margin: 4rem auto;
  max-width: 89.6rem;
  overflow: hidden;
  border-radius: 0.8rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  background-color: #fff;
  padding: 3.2rem 2.4rem;
  min-height: 80rem;
}

.overflow-x-auto {
  overflow-x: auto;
}

.table {
  position: relative;
  width: 100%;
  border-radius: 1.6rem;
  text-align: left;
  font-size: 1.4rem;
  line-height: 2;
}

.table tr th {
  background-color: #f3f4f6;
}

.table th,
.table td {
  padding: 1.2rem 1.6rem;
}

.table tr {
  transition: background-color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.table tr:hover {
  cursor: pointer;

  background-color: #e5e7eb;
}

.btn-back {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  color: #555;
  font-size: 1.2rem;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1.6rem;
}

.btn-back:hover {
  color: #454444;
}

.btn-back::before {
  content: "\2190";
  margin-right: 0.8rem;
}

.btn-back::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  width: 0%;
  height: 0.1rem;
  background: #454444;
  transition: width 0.3s ease-out;
  transform-origin: right;
}

.btn-back:hover::after {
  width: 100%;
  transform-origin: left;
}
